<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UltraProva.Properties.Settings.dbAmazomConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\dbAmazom.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UltraProva.Properties.Settings.labConnectionString"
            connectionString="server = 172.16.12.11; user id = simone; password = cavalese; persist security info = true; database = lab"
            providerName="MySql.Data.MySqlClient" />
        <add name="UltraProva.Properties.Settings.labConnectionString1"
            connectionString="server=172.16.12.11;user id=simone;persistsecurityinfo=True;database=lab;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="UltraProva.Properties.Settings.dbCustumersConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\dbCustumers.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>